*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*COMPONENT*/
.component-navbar-nav{
  background-color: #338ceb;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 45px;
}

.component-navbar-ul{
  display: flex;
  justify-content: space-around;
}

.component-navbar-ul > li{
  list-style: none;
}

.component-navbar-img{
  height: 50px;
}


.component-student-green{
  color: green;
}

.component-student-red{
  color: red;
}

.components-button-vertical {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.components-button {
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  min-width: 220px;
  height: 40px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.components-cardproject-container{
  /* border: 1px solid black;   */
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.components-cardProject-card{
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 5px 3px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 230px ;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.components-cardProject-img{
  height: 140px;
  width: 100%;
}

.components-cardProject-text{
  margin-left: 20px;
  margin-top: 5px;
  color: #338ceb;
}

.components-cardProject-title{
  font-size: 23px;
  margin-bottom: 5px;
}

.components-cardProject-p{
  font-size: 15px;
  margin-bottom: 0px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.components-searchBar-DF{
  display: flex;
  justify-content: center;
}

.components-searchBar{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.components-TextArea{
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 5px;
  width: 220px;
  height: 80px;
  font-size: 14px;
  margin-bottom: 20px;
  color: #d5d5d5;
}

.components-input{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #fff;
  min-width: 220px;
  height: 40px;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 0 5px;
  color: #d5d5d5;
}

.components-logo{
 width: 90px;
 margin-bottom: 5px;
 margin-left: 10px;
}

.components-logo-img{
  width: 100%;
}

.component-title{
  color:#338ceb;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
  font-family: 'Assistant', sans-serif;
}

::placeholder{
  padding-left: 10px;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
}

/*component dropdown*/
.ui.fluid.dropdown{
  width: 220px !important;
  border: 1px solid black  !important;
  border-radius: 10px !important;
  min-height: 40px !important;
}

 .components-dropDown{
  margin-bottom: 20px;
 }

/*pages login and signup*/
.page-loginSignup-bcg{
  background-color: #338ceb;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-loginSignup-container{
  background-color: #fff;
  width: 80vw;
  height: 85vh;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-loginSignup-link{
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

/*PAGE ADD TEACHER AND PROJECT*/
.page-add-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}

